<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<div layout:fragment="content" class="container col-md-5 text-center mt-4">
    <h2 class="text text-primary mb-4">EMPLOYEE LIST</h2>
    <a th:href="'/employee/add'" class="mt-3 mb-3">
        <img th:src="@{/images/add.png} "/>
    </a>

    <div class="row bg-light">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name
                        <a th:href="/employee/sort/asc">
                            <img th:src="@{/images/add.png" width="30" height="30"/>
                        </a>
                        <a th:href="/employee/sort/desc">
                            <img th:src="@{/images/delete.png}"width="30" height="30"/>
                        </a>
                    </th>
                    <th scope="col">Age</th>
                    <th scope="col">Address</th>
                    <th scope="col">Image</th>
                    <th scope="col">Company</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.age}"></td>
                    <td th:text="${employee.image}"></td>
                    <td th:text="${employee.address}"></td>
                    <td th:if="${employee.company != null}"
                        th:text="${employee.company.name}"></td>
                    <td th:if="${employee.company == null}"
                        th:text="'-'"></td>
                    <td>
                        <a class="btn btn-outline-success" th:href="@{/employee/detail/{id}(id=${employee.id})}" th:text="'Detail'"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>


